<form action="/cart" method="POST">
    <% if(isLoggedIn) { %>
        <button class="btn" type="submit">Add to Cart</button>
        <input type="hidden" name="id" value="<%= product._id %>">
        <input type="hidden" name="price" value="<%= product.price %>">
    <% } %>
</form>